@import "tailwindcss";

/* CUSTOM SCROLLBAR */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fde047;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #111;
}